<!doctype html>
<html class="no-js" lang="">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/dialog.css' %}" rel="stylesheet">
    <link href="{% static 'star/css/star-rating.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/tag.js' %}"></script>
    <script src="{% static 'star/js/star-rating.js' %}" type="text/javascript"></script>

    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="stylesheet" href={% static "css/pure-min.css" %}>
    <link rel="stylesheet" href={% static "css/main.css" %}>
    <link rel="stylesheet" href={% static "css/course.css" %}>
    <link rel="stylesheet" href="{% static "css/tag.css" %}">
</head>
<body>
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

<!-- Add your site or application content here -->
<div class="top">
    <div class="topbar">
        <a href="/app/home"><img src={% static "img/backgroundimg/logo.png" %} width="10%"></a>
        <div id="login">
            <span>你好!{{ userName }}</span>
            <a href="/app/logout/">退出登录</a>

        </div>
    </div>
    <div class="pure-g cword">
        <div class="pure-u-2-24"></div>
        <div class="pure-u-10-24 words">


            <p id="name">{{ course }}</p>
            <p class="others">
                <span>{{ schoolName }}</span>
                <span>{{ teacher }}</span>
                <span>平均分：{{ average }}</span>
                <span>通过率：{{ passRat }}</span>
            </p>
            <div class="teachertag">
                <div>{{ tag.0 }}</div>
                <div>{{ tag.1 }}</div>
                <div>{{ tag.2 }}</div>
            </div>
            <div class="others othersdiv">
                <img class="peopleimg" src={% static "img/backgroundimg/people2.png" %}> {{ people }}人参加
                <span></span><span></span><span style="font-size:x-large;cursor:pointer" id="showComment">评价-></span>
            </div>
        </div>
        <div class="pure-u-12-24"></div>
    </div>
</div>
{#<input type="button" id="showComment" value="评价">#}
<div class="commentDialogBackground" style="display: none">
    <div id="commentDiv" class="commentDialog">
        <span style="display: inline-block;position: absolute;
                        right: 2%;top:1%;cursor: pointer;" id="close">x</span>
        {#        <form action={% url 'commentPost' %} method="post" class="commentForm">#}
        <form class="commentForm" method="post" action="comment/">
            <span>评价:</span>
            <div id="star">
                <img id ="star1" onmousemove="aaa(this)" src={% static "img/backgroundimg/starp.png" %}>
                <img id ="star2" onmousemove="aaa(this)" src={% static "img/backgroundimg/starp.png" %}>
                <img id ="star3" onmouseover="aaa(this)" src={% static "img/backgroundimg/starp.png" %}>
                <img id ="star4" onmouseover="aaa(this)" src={% static "img/backgroundimg/starp.png" %}>
                <img id ="star5" onmouseover="aaa(this)" src={% static "img/backgroundimg/starp.png" %}>
                <input style="display: none" name="star" value="5" id="starinput">
            </div>
            <div class="tagBlock choosed">
                <label>已选择标签:</label>
            </div>
            <div class="tagBlock unchoosed">
                <label>常用标签</label>
            </div>
            <input id="tagValue" name="tag" hidden="hidden" value="none">
            <textarea name="commentText" rows="5" cols="40" placeholder="请输入评价" style="background: #f4fff1;"></textarea>
            <div class="submit" onclick="submitForm()">
                <p>提交</p>
            </div>
        </form>
    </div>

</div>
<script>
    function submitForm() {
        $("#tagValue").val($.fn.getTag());
        $("form.commentForm").submit();

    }

    $("#close").click(function () {
        $(".commentDialogBackground").hide()
    })
</script>
<script>
    //评价的东西,点了之后出来
    $("#showComment").click(
        function () {
            $(".commentDialogBackground").show()
        }
    )
</script>
<script>
    $(document).ready(function () {
        $.fn.setTag("爱点名,爱挂人,给重点,给分高,作业多", 'unchoosed');
    })
</script>

<div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div id="left" class="pure-u-14-24">
        <div class="comments">
            <p class="coursename">{{ course }}&nbsp&nbsp&nbsp&nbsp&nbsp的评论：······<span>(全部{{ commentNum }}条)</span></p>

            <p class="others">热门／最新</p>
            <hr/>

            {% for i in peopleObj %}
                <div class="courseblock">
                    <div>
                        <p>
                            <span class="studentname">匿名用户</span>
                            <span class="starps {{ i.judge }}" id="stars{{ i.index }}">
                            </span>
                        </p>
                        <span class="date">{{ i.date }}</span>

                        <p class="hotcourse others">{{ i.text }}</p>
                    </div>
                    <hr/>
                </div>
            {% endfor %}


        </div>
        <div class="more">显示更多</div>
    </div>
    <div class="pure-u-1-24"></div>
    <div class="pure-u-5-24">
        <p class="coursename">热门课程：</p>
        {% for i in topList %}
            <p style="cursor: pointer" id="top{{ i.topIndex }}" class="hotcourse others">{{ i.topIndex }}: {{ i.topName }}</p>
            <script>
                $("#top{{ i.topIndex }}").click(function () {
                    window.open('/app/course/{{ i.topID }}')
                })
            </script>
        {% endfor %}
    </div>
    <div class="pure-u-2-24"></div>
</div>

<div class="footer pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-20-24">
        <hr/>
        <p>© 2017 <a>Limited</a> BETA 1.8 All Right Reserved. <a>联系我们</a> or <a>Donate for servers</a>,though</p>
    </div>
    <div class="pure-u-2-24"></div>
</div>

<script src={% static "js/vendor/modernizr-3.5.0.min.js" %}></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src={% static "js/vendor/jquery-3.2.1.min.js" %}><\/script>')</script>
<script src={% static "js/plugins.js" %}></script>
<script src={% static "js/main.js" %}></script>
<script type="text/javascript">
    function aaa(starcd){
        var j = $(starcd).attr('id').substring(4);
        $("#starinput").attr('value',j);
        for (var i = 1; i <= j; i++) {
            console.log($("#star" + String(i)).attr('id'));
            $(String("#star" + i)).attr('src',"{% static "img/backgroundimg/starp.png" %}");
        }

        for (var i = Number(j)+1; i <= 5; i++) {
            $(String("#star" + i)).attr('src',"{% static "img/backgroundimg/starOp.png" %}");
        }
    }
    $(document).ready(function () {
        {% for i in peopleObj %}
            for (var i=0;i< Math.round({{ i.judge }});i++)
            {
                $("#stars{{ i.index }}").append("<img src={% static "img/backgroundimg/star.png" %}>");
            }
            for (var i=Math.round({{ i.judge }});i<5;i++)
            {
                $("#stars{{ i.index }}").append("<img src={% static "img/backgroundimg/starO.png" %}>");
            }
        {% endfor %}
    })
</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
