<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Krajee JQuery Plugins - &copy; Kartik</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="./css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="./js/star-rating.js" type="text/javascript"></script>

<body>
<div class="container">

    <form>
        <input id="input-21d" value="2" type="text" class="rating" data-min=0 data-max=5 data-step=1 data-size="sm"
               lang="zh.js"
               title="">
    </form>

</div>
</body>
</html>
