

html {
    height: 100%;
    width: 100%;
}


body {
    overflow: hidden;
}

#bgimg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
}

#bg {
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,.5);
}

#bg #block {
    width: 20em;
    height: 47%;
    position: absolute;
    top: 13em;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0,0,0,.8);
}

#bg #block h2 {
    margin: 1.3em 0;
    text-align: center;
    color: white;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#bg #block div {
    margin: 0em auto;
    width: 13em;
    margin-top: 1.5em;
}

#bg #block div label {
    float: left;
}

#bg #block div label img {
    width: 3em;
}

#bg #block div input {
    width: 8.6em;
    height: 2.6em;
    padding-left: 1em;
    outline: none;
}



.topbar {
    padding: 1em 6em;
}

#login {
    text-align: center;
    border-radius: 0.7em;
    background: rgba(209,209,209,.7);
    float: right;
    width: 4.5em;
    height: 1.9em;
    vertical-align: middle;
    line-height: 1.9em;
    font-family: cursive;
}

#login a {
    color: white;
    text-decoration:none;
}

#center img {
    margin: auto;
    position: absolute;
    top: 14em;
    left: 0;
    right: 0;
    width: 38em;
}

.begin {
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 26em;
    left: 0;
    right: 0;
    width: 11.7em;
    border-radius: 0.4em;
    height: 2.9em;
    vertical-align: middle;
    line-height: 2.9em;
    background-color: #e5989b;
    text-align: center;
    font-size: 1.1em;
}

.begin a{
    color: white;
}


