<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/vendor/jquery-3.2.1.min.js"></script>
</head>
<body>
    <p id="button">hover me !</p>
    <span id="login" style="display: none">登录</span>
    <span>这是一个占位符</span>
<script>
    function show() {
        $("#login").show()
    }
{#    function hide(){#}
{#        if ($("#login").onfocus)#}
{#        {#}
{##}
{#        }#}
{#        else $("#login").hide()#}
{#    }#}
    $("#buttom").click(show())

</script>
<div style="text-align: center">123123</div>
</body>
</html>